# OS
.DS_Store
Thumbs.db

# Dependencies
node_modules/

# Build output
dist/
out-tsc/
.angular/
coverage/

# Test artifacts
test-results/
playwright-report/
cypress/videos/
cypress/screenshots/

# Logs
*.log
npm-debug.log*
yarn-error.log*

# Env
.env
.env.*
!.env.example

# Editors
.vscode/*
!.vscode/extensions.json
.idea/
*.swp
